:root {
  --red: rgb(136, 35, 35);
}
.bttn {
  background-color: var(--red);
  border: none;
  box-shadow: 0px 5px rgb(229, 229, 229);
}
.title {
  font-size: 40px;
  color: #fff;
  text-shadow: 2px 2px #000;
}
.title:hover {
  color: #fff;
}
.home-container {
  display: flex;
  justify-content: center;
}
.home-container > img {
  opacity: 0.1;
}
.mp1 {
  display: flex;
  justify-content: center;
}
.navbar {
  background-color: var(--red);
  box-shadow: 0px 5px #fff;
}
.navBtn {
  margin: 0px 3px;
  background-color: var(--red);
  border: none;
  text-shadow: 0px 1px #000;
}
.navBtn:hover {
  background-color: #fff;
  color: red;
}
.menu-page {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}
.nav-plus-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sort-nav {
  margin: 30px 0px;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  background-color: var(--red);
  width: 500px;
  border-radius: 10px;
  box-shadow: 0px 5px #fff;
}
.nav-button-all {
  margin: 0px 3px;
  width: 90px;
  height: 40px;
  font-size: 16px;
  background-color: #fff;
  color: var(--red);
  border: none;
  box-shadow: 0px 5px rgb(229, 229, 229);
  font-weight: 700;
}
.nav-button {
  margin: 0px 3px;
  width: 90px;
  height: 40px;
  font-size: 16px;
  background-color: #fff;
  color: var(--red);
  box-shadow: 0px 5px rgb(229, 229, 229);
  font-weight: 700;
}
.card-ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 30px;
  width: 100%;
}
.card-li {
  width: 95%;
}
.menu-side {
  width: 100%;
}
.checkout-side {
  position: fixed;
  right: 0;
  top: 25%;
}
.card {
  width: 100%;
  margin: 10px;
  padding: 10px;
  height: 500px;
}
.menu-img {
  width: 100%;
  overflow: hidden;
}
.card-body {
  width: 100%;
}

.footer {
  bottom: 0;
  height: 75px;
  width: 100vw;
  background-color: var(--red);
  display: flex;
  align-items: center;
  box-shadow: 0px -5px #fff;
}
.footer-container {
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.bottom-copywrite {
  color: #fff;
  font-size: 13px;
  margin-bottom: 0px;
  margin-left: 30%;
}
.bottom-title {
  color: #fff;
  font-size: 30px;
  margin-bottom: 0px;
  margin-left: 20px;
  text-shadow: 2px 2px #000;
}
.about-us {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}
.text-container {
  background-color: #fff;
  padding: 10px 10px;
  border-radius: 10px;
  margin: 15px 0px;
}
.h2 {
  font-size: 80px;
  margin-top: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}
.h3 {
  font-size: 40px;
  margin-bottom: 20px;
}
.view-cart-button {
  margin-right: 10px;
  height: 100px;
  margin-top: 100%;
  box-shadow: 0px 5px #fff;
  width: 120px;
  background-color: rgb(15, 53, 190);
  font-weight: 500;
}
.order-length {
  background-color: #fff;
  color: black;
  border-radius: 10px;
  font-weight: 800;
  font-size: 25px;
  /* padding: 2px 2px; */
}
.add-to-order-button {
  box-shadow: 0px 5px rgb(229, 229, 229);
}
.contact-us {
  display: flex;
  justify-content: center;
}
.contact-us > img {
  width: 100vw;
  height: 100vh;
  opacity: 0.3;
  position: relative;
}
.contact-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}
.contact-info > h2 {
  margin-top: 50%;
  margin-bottom: 30px;
}
.contact-info > p {
  padding: 20px;
}
.order-title {
  font-size: 40px;
}
.order-item {
  border-bottom: 1px solid #000;
  padding: 8px 0px 8px 0px;
}
.clear-order-button {
  margin-bottom: 10px;
}
.cart-item-title {
  font-weight: 700;
}
.totalprice {
  font-weight: 600;
}
.totals-plus-button {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.kitchen-div {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kitchen-div > Button {
  margin-right: 30px;
}
.order {
  font-weight: 800;
  color: #000;
}
.order1 {
  color: #fff;
  background-color: var(--red);
  padding: 10px 10px;
  border-radius: 5px;
  margin: none;
}
